version: '3.8'

services:
  web:
    build: .
    image: adios_silencio:latest
    container_name: webapp
    restart: always
    ports:
      - "8080:8080"
    environment:
      SUPABASE_URL: ${SUPABASE_URL}
      SUPABASE_KEY: ${SUPABASE_KEY}
    volumes:
      - .:/app
